body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
}

.btn,
button {
    display: block;
    padding: 10px;
    margin-top: 10px;
    background: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}