<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container">
        <h2>Image → PDF</h2>

        <input type="text" id="pdfName" placeholder="PDF name">
        <input type="file" id="imgInput" accept="image/*" multiple>

        <ul id="imgList"></ul>

        <div class="progress">
            <div id="bar"></div>
        </div>

        <button onclick="uploadImages()">Create PDF</button>
        <a href="/">⬅ Back</a>
    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>