<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container">
        <h2>Image → PDF</h2>

        <input type="file" id="imgInput" accept="image/*" multiple>
        <input type="text" id="pdfName" placeholder="PDF name">
        
        <ul id="imgList"></ul>

        <div class="progress">
            <div id="bar"></div>
        </div>

        <button onclick="uploadImages()">Create PDF</button>
        <a href="/" style="background: #007bff; color: white; display: right; padding: 10px; text-align: center; text-decoration: none; border: none; border-radius: 5px;">Back</a>
    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>