<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container">
        <h1>PDF → Image Converter</h1>
        <a href="/dashboard">Dashboard</a>

        <div class="card">
            <input type="file" id="pdfInput" accept=".pdf" multiple>
            <ul id="fileList"></ul>

            <button onclick="submitPDFs()">Convert PDFs</button>
        </div>

        <div class="card">
            <form action="/images-to-pdf" method="POST" enctype="multipart/form-data">
                <input type="file" name="images" multiple accept="image/*">
                <button>Images → PDF</button>
            </form>
        </div>
    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>