<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container">
        <h2>PDF → Image</h2>

        <input type="file" id="pdfInput" accept=".pdf" multiple>

        <ul id="fileList"></ul>

        <div class="progress">
            <div id="bar"></div>
        </div>
        <select id="format">
            <option value="jpg">JPG</option>
            <option value="jpeg">JPEG</option>
            <option value="png">PNG</option>
            </select>
        <button onclick="uploadPDF()">Convert</button>
        <a href="/" style="background: #007bff; color: white; display: right; padding: 10px; text-align: center; text-decoration: none; border: none; border-radius: 5px;">Back</a>
    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>