<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h2>{{ title }}</h2>

        <div style="display:grid;grid-template-columns:repeat(auto-fill,150px);gap:10px;">
            {% for img in images %}
            <img src="/image-file/{{ folder }}/{{ img }}" style="width:100%">
            {% endfor %}
        </div>

        <a href="/dashboard" style="background: #007bff; color: white; display: right; padding: 10px; text-align: center; text-decoration: none; border: none; border-radius: 5px;">Back</a>
    </div>
</body>

</html>